.footer_social_widget {
    position: relative;
  }
  .footer_social_widget li{
    padding-right: 10px;
  }
  .footer_social_widget li a{
    color: #8a99b3;
    font-size: 16px;
    font-family: "FontAwesome";
    line-height: 1.2;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .footer_social_widget.home3 li a{
    color: #777777;
  }
  .footer_social_widget li:hover a{
    color: #ffffff;
  }
  .footer_social_widget.home3 li:hover a{
    color: #ff5a5f;
  }
  .footer_mailchimp_form{
    position: relative;
  }
  .footer_mailchimp_form .col-auto input.form-control{
    background-color: #354765;
    border: 1px solid #354765;
    border-radius: 25px;
    color: #ffffff;
    height: 50px;
    padding-left: 30px;
    width: 195px;
  }
  .footer_mailchimp_form.home3 .col-auto input.form-control{
    background-color: #e8eef2;
    border: 1px solid #e8eef2;
    color: #777777;
  }
  .footer_mailchimp_form.home5 .col-auto input.form-control{
    background-color: #292d39;
    border: 1px solid #292d39;
  }
  .footer_mailchimp_form.home6 .col-auto input.form-control{
    background-color: #ffffff;
    -webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    border: 1px solid #ffffff;
    color: #484848;
  }
  .footer_mailchimp_form.home6 .col-auto input.form-control:hover,
  .footer_mailchimp_form.home6 .col-auto input.form-control:focus,
  .footer_mailchimp_form.home6 .col-auto input.form-control:active{
    -webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
  }
  .footer_mailchimp_form .col-auto input.form-control:hover,
  .footer_mailchimp_form .col-auto input.form-control:focus,
  .footer_mailchimp_form .col-auto input.form-control:active{
    box-shadow: none;
    outline: none;
  }
  .footer_mailchimp_form .col-auto input.form-control::placeholder,
  .footer_mailchimp_form .col-auto input.form-control:-ms-input-placeholder,
  .footer_mailchimp_form .col-auto input.form-control::-ms-input-placeholder {
    color: #8a99b3;
  }
  .footer_mailchimp_form .col-auto button{
    background-color: #354765;
    border: 1px solid #354765;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .footer_mailchimp_form.home3 .col-auto button{
    background-color: #3e4c66;
    border: 1px solid #3e4c66;
    color: #ffffff;
  }
  .footer_mailchimp_form.home5 .col-auto button{
    background-image: -moz-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .footer_mailchimp_form.home6 .col-auto button{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    -o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
    color: #484848;
  }
  .footer_middle_area.home3 .footer_social_widget p {
    color: #969ca9;
  }
  .footer_middle_area.home3 .footer_social_widget li a {
    color: #969696;
  }
  .footer_middle_area.home3 .footer_social_widget li:hover a,
  .footer_middle_area.home4 .footer_social_widget li:hover a {
    color: #484848;
  }
  .footer_social_widget.home8 li a{
    color: #969696;
  }
  .footer_social_widget.home8 li:hover a{
    color: #484848;
  }
  /*== 1st Layout Footer ==*/
  .footer_one{
    padding: 80px 0 70px;
  }
  .footer_one {
    background-color: #24324a;
  }
  .footer_middle_area{
    background-color: #1d293e;
  }
  .footer_bottom_area {
    background-color: #484848;
  }
  .copyright-widget p {
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.143;
    margin-bottom: 0;
  }
  .copyright-widget.home3 p,
  .copyright-widget.home6 p{
    color: #777777;
  }
  .footer_one.home3{
    background-color: #ffffff;
    border-bottom: 1px solid #e8eef2;
  }
  .footer_middle_area.home3{
    background-color: #ffffff;
  }
  .footer_bottom_area.home3{
    background-color: #ebeef4;
  }
  .footer_one.home4{
    background-color: #f9fafc;
  }
  .footer_bottom_area.home3 .copyright-widget p,
  .footer_bottom_area.home4 .copyright-widget p {
    color: #969696;
  }
  .footer_bottom_area.home4{
    background-color: #fafafa;
  }
  .footer_middle_area.home4{
    border-top: 1px solid #f0f0f0;
    background-color: #ffffff;
  }
  .footer_one.home5{
    background-color: #232733;
    border-bottom: 1px solid rgba(255,255,255, 0.102);
  }
  .footer_one.home8{
    background-color: transparent;
  }
  .footer_one.home8:before{
    background:grey;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -75px;
    z-index: -1;
  }
  /*== Footer Widget ==*/
  .footer_about_widget p{
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.143;
    margin-bottom: 0;
  }
  .footer_about_widget.home5 p,
  .footer_qlink_widget.home5 li a,
  .footer_contact_widget.home5 li a,
  .footer_social_widget.home5 li a{
    color: #98a2aa;
  }
  .footer_about_widget.home6 p,
  .footer_qlink_widget.home6 li a,
  .footer_contact_widget.home6 li a{
    color: #777777;
  }
  .footer_social_widget.home6 li a{
    color: #484848;
  }
  .footer_about_widget.home3 p{
    color: #777777;
  }
  .footer_contact_widget li{
    padding-bottom: 0;
  }
  .footer_qlink_widget{
    padding-left: 70px;
  }
  .footer_about_widget h4,
  .footer_qlink_widget h4,
  .footer_contact_widget h4,
  .footer_social_widget h4,
  .footer_apps_widget h4{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .footer_about_widget.home3 h4,
  .footer_qlink_widget.home3 h4,
  .footer_contact_widget.home3 h4,
  .footer_social_widget.home3 h4,
  .footer_apps_widget.home3 h4{
    color: #484848;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .footer_about_widget.home3 li a,
  .footer_qlink_widget.home3 li a,
  .footer_contact_widget.home3 li a{
    color: #777777;
  }
  .footer_about_widget.home6 h4,
  .footer_qlink_widget.home6 h4,
  .footer_contact_widget.home6 h4,
  .footer_social_widget.home6 h4,
  .footer_apps_widget.home6 h4{
    font-family: "Nunito";
    color: #484848;
    font-weight: bold;
    line-height: 1.333;
  }
  .footer_qlink_widget.home6 li:hover a{
    color: #484848;
  }
  .footer_about_widget li a,
  .footer_qlink_widget li a,
  .footer_contact_widget li a{
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.429;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .footer_about_widget li:hover a,
  .footer_qlink_widget li:hover a,
  .footer_contact_widget li:hover a {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer_apps_widget .app_grid .apple_btn,
  .footer_apps_widget .app_grid .play_store_btn{
    background-color: #484848;
    border: none;
    border-radius: 4px;
    height: 75px;
    margin-bottom: 15px;
    margin-right: 0;
    width: 220px;
  }
  .footer_apps_widget .app_grid .apple_btn:hover,
  .footer_apps_widget .app_grid .play_store_btn:hover{
    background-color: #ff5a5f;
  }
  .footer_apps_widget .app_grid .play_store_btn{
    margin-bottom: 0;
  }
  .footer_apps_widget .app_grid .apple_btn span,
  .footer_apps_widget .app_grid .play_store_btn span{
    margin-right: 5px;
  }
  .footer_apps_widget .app_grid .apple_btn span.title,
  .footer_apps_widget .app_grid .play_store_btn span.title{
    color: #ffffff;
  }
  .footer_apps_widget .app_grid .apple_btn span,
  .footer_apps_widget .app_grid .apple_btn span.subtitle,
  .footer_apps_widget .app_grid .play_store_btn span,
  .footer_apps_widget .app_grid .play_store_btn span.subtitle{
    color: #969696;
  }
  .footer_apps_widget .app_grid .apple_btn:hover span,
  .footer_apps_widget .app_grid .apple_btn:hover span.subtitle,
  .footer_apps_widget .app_grid .play_store_btn:hover span,
  .footer_apps_widget .app_grid .play_store_btn:hover span.subtitle{
    color: #ffffff;
  }
  .footer_apps_widget.home3 .app_grid .apple_btn:hover,
  .footer_apps_widget.home3 .app_grid .play_store_btn:hover{
    background-color: #369fdb;
  }
  .footer_apps_widget .app_grid .apple_btn:focus,
  .footer_apps_widget.home3 .app_grid .apple_btn:active,
  .footer_apps_widget.home3 .app_grid .apple_btn:focus,
  .footer_apps_widget.home3 .app_grid .play_store_btn:active,
  .footer_apps_widget.home3 .app_grid .play_store_btn:focus{
    box-shadow: none;
    outline: none;  
  }
  .logo-widget{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .logo-widget span{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .logo-widget.home3 span{
    color: #051925;
  }
  .logo-widget.home8 span{
    background: linear-gradient(to right, #835bb4 0%, #d7cf96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .footer_menu_widget ul{
    margin-bottom: 0;
  }
  .footer_menu_widget ul li{
    margin-right: 0 !important;
    padding-right: 25px;
    vertical-align: middle;
  }
  .footer_menu_widget ul li a{
    font-size: 14px;
    font-family: "Nunito";
    color: #8a99b3;
    line-height: 2.143;
  }
  .footer_menu_widget ul li a:hover{
    color: #ffffff;
  }
  .footer_menu_widget.home3 ul li a,
  .footer_menu_widget.home6 ul li a{
    color: #777777;
  }
  .footer_menu_widget.home5 ul li a,
  .copyright-widget.home5 p{
    color: #98a2aa;
  }
  .footer_menu_widget.home3 ul li a:hover,
  .footer_menu_widget.home6 ul li a:hover{
    color: #484848;
  }
  .footer_apps_widget.home3 h4,
  .footer_about_widget.home4 h4,
  .footer_qlink_widget.home4 h4,
  .footer_contact_widget.home4 h4,
  .footer_apps_widget.home4 h4,
  .footer_one.home3 .footer_qlink_widget li:hover a,
  .footer_one.home3 .footer_about_widget li:hover a,
  .footer_one.home3 .footer_contact_widget li:hover a,
  .footer_one.home4 .footer_qlink_widget li:hover a,
  .footer_one.home4 .footer_about_widget li:hover a,
  .footer_one.home4 .footer_contact_widget li:hover a{
    color: #051925;
  }
  .footer_about_widget.home8 p{
    line-height: 30px;
  }
  .footer_one.home8:after{
    background-color: #e2e9f0;
    bottom: 80px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .logo-widget.home8{
    margin-left: 150px;
  }
  .footer_apps_widget .mailchimp_form .form-control {
    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    color: #707070;
    height: 52px;
    width: 80%;
  }
  .footer_apps_widget .mailchimp_form button{
    background-color: transparent;
    border: transparent;
    color: #484848;
    height: 45px;
    margin-left: -62px;
    width: 45px;
  }
  .footer_qlink_widget.home5 h4,
  .footer_apps_widget.home5 h4{ 
    color: #ffffff;
  }
  .footer_one.home3 .footer_apps_widget .mailchimp_form button{
    background-color: #1c327e;
  }
  .mailchimp_form.home5 .form-control {
    background-color: #fafafa;
  }
  .footer_apps_widget.home6 .mailchimp_form .form-control{
    background-color: #101219;
  }
  .footer_menu {
    padding-left: 60px;
  }
  .footer_menu ul li:last-child {
    border-radius: 4px;
  }
  .footer_menu ul li:last-child a{
    background-color: transparent !important;
    color: #7c7c7c;
    padding-left: 20px;
  }
  .footer_menu ul li:last-child:hover a{
    color: #7c7c7c;
  }
  .footer_menu ul li .bootstrap-select>.dropdown-toggle {
    background-color: #2f2b2b;
    box-shadow: none !important;
    border: transparent;
    color: #ffffff;
    height: 45px;
    line-height: 35px;
    margin-left: 15px;
    outline: none !important;
    padding-left: 25px;
    padding-right: 20px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: 130px;
    z-index: 1;
  }
  .btn-light:not(:disabled):not(.disabled).active, 
  .btn-light:not(:disabled):not(.disabled):active, 
  .show>.btn-light.dropdown-toggle {  
    background-color: transparent;
    box-shadow: none;
  }
  .footer_menu ul li .bootstrap-select .dropdown-toggle .filter-option {
    outline: none;
  }
  .footer_menu ul li .bootstrap-select {
    width: auto !important;
  }
  .footer_bottom_area.home3 .footer_menu ul li .bootstrap-select>.dropdown-toggle {
    background-color: #1f2532;
  }
  .footer_bottom_area.home4 .footer_menu ul li .bootstrap-select>.dropdown-toggle{
    background-color: #ededed;
    border-radius: 22.5px;
    color: #8b8b8b;
  }
  .footer_bottom_area.home5{
    background-color: #ffffff;
  }
  .footer_bottom_area.home5 .footer_menu ul li .bootstrap-select>.dropdown-toggle{
    background-color: #e6e6e6;
    color: #8b8b8b;
  }